body {
    min-height: 100vh;
}

.mt-reset {
    margin-top: 0px !important
}
.mb-reset {
    margin-bottom: 0px !important
}
.mr-reset {
    margin-right: 0px !important
}
.ml-reset {
    margin-left: 0px !important
}